<div class="diff-container">
    @if (diffs.length === 0) {
      <div class="no-changes">
        <p>No changes detected between states</p>
      </div>
    } @else {
      @if (truncated) {
        <div class="truncation-warning">
          Showing {{ diffs.length }} of {{ totalChanges }} changes. Large diffs are truncated for performance.
        </div>
      }

      <cdk-virtual-scroll-viewport itemSize="80" class="diff-viewport">
        <div *cdkVirtualFor="let diff of diffs; trackBy: trackByPath" class="diff-item" [ngClass]="diff.type">
          <div class="path">{{ diff.path }}</div>

          @if (diff.type === 'removed') {
            <div class="value-line removed">
              <span class="line-marker">-</span>
              <span class="value">{{ formatValue(diff.oldValue) }}</span>
            </div>
          }

          @if (diff.type === 'added') {
            <div class="value-line added">
              <span class="line-marker">+</span>
              <span class="value">{{ formatValue(diff.newValue) }}</span>
            </div>
          }

          @if (diff.type === 'changed') {
            <div class="value-comparison">
              <div class="value-line removed">
                <span class="line-marker">-</span>
                <span class="value">{{ formatValue(diff.oldValue) }}</span>
              </div>
              <div class="value-line added">
                <span class="line-marker">+</span>
                <span class="value">{{ formatValue(diff.newValue) }}</span>
              </div>
            </div>
          }
        </div>
      </cdk-virtual-scroll-viewport>
    }
  </div>
