json-viewer {
    --background-color: var(--mat-sys-background-color);
    --property-color: var(--mat-sys-primary);
    --number-color: var(--mat-sys-secondary);
    --string-color: var(--mat-sys-secondary);
    --preview-color: var(--mat-sys-primary);
}