@use '../../styles/theme' as *;

json-viewer {
    --background-color: #{$color-background};
    --property-color: #{$color-primary};
    --number-color: #{$color-secondary};
    --string-color: #{$color-secondary};
    --preview-color: #{$color-primary};
}
